/* Master Styles */

header, main {
  position: relative;
  z-index: 1; 
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #0d0d0d;
  color: #f4f4f4;
}

footer {
  background-color: #ef92d0;
  color: #0d0d0d;
}

/* Font Styles */

h1 {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-size: xx-large;
}

h2 {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 0.8
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-top: 2px;
}

/* Button Styles */

button {
  color: #f4f4f4;
  border: 1.5px solid #f4f4f4;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, border 0.3s ease;
}

button:hover {
  background-color: #0D34BF;
  border: 2px solid #f4f4f400;
}

/* NAV Styles */

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
  border-bottom: 2px solid #f4f4f4;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
  margin-bottom: 15px;
}

nav ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #f4f4f4;
}

.logo {
  max-width: 70px;
  height: auto;
}

/* Welcome */

.farm {
  min-height: 88vh;
  position: relative;
  overflow: hidden;
}

.farm::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url("images/farm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.welcome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 80vh;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
}

.intro, .titles, .callouts {
  line-height: 0.5; 
}

.intro {
  grid-column: 2; 
  grid-row: 1;
  justify-self: end;
  align-self: start;
  text-align: right;
}

.txt-pnk {
  color: rgb(255, 177, 220);
}

.titles {
  grid-column: 1; 
  grid-row: 2;
  justify-self: start;
  align-self: end;
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 20px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
}


.titleswrapper {
  display: flex;
  align-items: center;
  gap: 16px;

}

.titlesimg {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titlesimg img {
  width: 50px; 
  height: auto;
    opacity: 0.9; 
  filter: brightness(0.95); 
}

/* Hover animations on titles imgs */

.titlesimg img:first-child {
  transition: transform 1.5s linear;
}

.titlesimg img:first-child:hover {
  transform: rotate(90deg);
}

.titlesimg img:last-child {
  transition: transform 0.2s ease-in-out;
}

.titlesimg img:last-child:hover {
  transform: scale(0.85);
}

.titlestxt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titlestxt h3 {
  color: white; 
  margin: 0;
  opacity: 0.9; 
  filter: brightness(0.95); 
  transition: color 0.3s ease;
}

.titlestxt h3:hover {
  color: #DD6512;
}

.callouts {
  grid-column: 2; 
  grid-row: 2;
  justify-self: end;
  align-self: end;
}
