/* Scrollbar styles */

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  border: 2px solid #f4f4f4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color:#95a3c500; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0037ff;
}

/* Master Styles */

html {
  scroll-behavior: smooth;
}

header, main {
  position: relative;
  z-index: 1; 
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #0d0d0d;
  color: #f4f4f4;
  overflow-x: hidden;
}

footer {
  background-color: #ef92d0;
  color: #0d0d0d;
}

/* Font Styles */

h1 {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  margin: 10px 0;
  font-size: 60px;
}

h2 {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-size: 30px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 0.8
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  margin-top: 2px;
}

/* Button Styles */

button {
  color: #f4f4f4;
  border: 1.5px solid #f4f4f4;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, border 0.3s ease;
  margin-left: 10px;
}

button:hover {
  background-color: #0036c9;
  border: 1.5px solid #f4f4f400;
  cursor: pointer;
}

/* NAV Styles */

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
  border-bottom: 2px solid #f4f4f4;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
  margin-bottom: 15px;
}

nav ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #f4f4f4;
}

.logo {
  max-width: 70px;
  height: auto;
}

/********************************************************* 
WELCOME SECTION ****************************************/

.farm {
  position: relative;
  min-height: 88vh;
  width: 100%;
  overflow: hidden;
}


.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url("images/farm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}

.welcome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  min-height: 80vh;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 40px;
  overflow: hidden;
}

/* .cursor-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference; 
  background: white; 
  box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.6);
  z-index: 1000;
} */

.intro, .titles, .callouts {
  line-height: 0.5; 
}

.intro {
  grid-column: 2; 
  grid-row: 1;
  justify-self: end;
  align-self: start;
  text-align: right;
}

.txt-pnk {
  color: rgb(255, 177, 220);
}

.titles {
  grid-column: 1; 
  grid-row: 2;
  justify-self: start;
  align-self: end;
  border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 20px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
}


.titleswrapper {
  display: flex;
  align-items: center;
  gap: 16px;

}

.titlesimg {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titlesimg img {
  width: 50px; 
  height: auto;
    opacity: 0.9; 
  filter: brightness(0.95); 
}

/* Hover animations on titles imgs */

.titlesimg img:first-child {
  transition: transform 1.5s linear;
}

.titlesimg img:first-child:hover {
  transform: rotate(90deg);
}

.titlesimg img:last-child {
  transition: transform 0.2s ease-in-out;
}

.titlesimg img:last-child:hover {
  transform: scale(0.85);
}

.titlestxt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titlestxt h3 {
  color: white; 
  margin: 0;
  opacity: 0.9; 
  filter: brightness(0.95); 
  transition: color 0.3s ease;
}

.titlestxt h3:hover {
  color: #DD6512;
}

.callouts {
  grid-column: 2; 
  grid-row: 2;
  justify-self: end;
  align-self: end;
}

/* 
.callouts button {
  cursor: none;
} */


/********************************************************* 
MY WORK SECTION ****************************************/

/* MY WORK TITLE SECTION */
.myworktitle {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #000;
  width: 100%;
}


.scrolling-text {
  display: flex;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}

.scrolling-text h1 {
  font-size: 60px;
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  color: white;
  margin: 0 2rem;
  white-space: nowrap;
  flex-shrink: 0;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* HORIZONTAL SCROLL SECTION */

/* Horizontal Scroll Wrapper */
.horizontal-scroll-wrapper {
  position: relative;
  overflow: visible;
}

.horizontal-scroll-inner {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* MY WORK TITLE SECTION */
.myworktitle {
  overflow: hidden;
  width: 100%;
  background-color: #000;
  flex-shrink: 0;
}

/* Scrolling Text (MY WORK) */
.scrolling-text {
  display: flex;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}

.scrolling-text h1 {
  font-size: 60px;
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  color: white;
  margin: 0 2rem;
  white-space: nowrap;
  flex-shrink: 0;
  padding-top: 16px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Cards Row */
.cards-row {
  display: flex;
  width: max-content;
  height: 100%;
  will-change: transform;
  transition: transform 0.1s linear;
  background-color: #000;
}

/* Cards */
.card {
  flex: 0 0 auto;
  width: 286px;
  height: 425px;
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  padding: 16px 16px 10px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Card Image */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #aaa;
  filter: saturate(100%);
  transition: border-radius 0.8s ease;
}

.card img:hover {
  border-radius: 20px;
}

/* Card Information (Project Name, Year, and Category) */
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.75rem;
  width: 100%; 
}

.card-info .project {
  display: flex;
  flex-direction: column;
}

.card-info .org {
  text-align: right;
  margin-top: 0.5rem; 
}


.card h3 {
  margin-top: 0.5rem;
  font-size: 16px; 
}


.card i {
  font-family: "Fragment Mono", monospace;
  display: block;
}

/* Category Text Styling */
.org {
  color: #DD6512; 
}


/********************************************************* 
ABOUT ME SECTION ****************************************/

/* ABOUT ME SECTION ****************************************/

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #000;
  color: white;
  font-family: "Inter", sans-serif;
}

/* Align image and title at top by using align-items flex-start */
.aboutme-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; /* changed from flex-start to stretch */
  gap: 40px;
  width: 100%;
  padding: 20px;
}

.aboutmetext {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  justify-content: space-between; /* keep buttons at bottom */
}

/* This will keep paragraphs close to the header */
.aboutmepg {
  margin-top: 0;       
  margin-bottom: auto;  
}
.aboutmepic {
  width: 400px; 
}

.aboutmepic img {
  width: 100%;
  height: auto;
  border: 6px solid #DD6512;
}

.aboutmepg p {
  line-height: 1.5
}

.aboutmetitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-img {
  width: 35px;
}

.aboutmepg .highlight {
  color: #ef92d0; 
  font-weight: 600;
}

.aboutmebtns {
  margin-bottom: 40px;
}


/*********************************************************
************* MY SERVICES ********************************/

.myservices {
  text-align: center;
  padding: 100px 0;
  background-image: url(images/services.jpg); 
  background-size: cover;
  background-position: center;
  color: white;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 90px; 
  margin-top: 40px;
}

.srvc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.srvc .nmbr {
 font-size: 120px;
}

.srvc h2 {
  text-align: left;
}

.srvc h2:hover {
  color: #ff9142;
}

.letschat {
  margin-top: 100px;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.letschat a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
 
}

.letschat button {
  background: transparent;
  border: none;
  color: white;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  animation: float 2s ease-in-out infinite;
  margin: 0;
}

.letschat img {
  max-height: 20px;
  margin-top: 8px; 
  animation: float 2s ease-in-out infinite;
}

.letschat:hover {
  color: #000;
  filter: brightness(0);
  transform: scale(1.1);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}


/**************************************************** CONTACT SECTION ********************************************/

.contact {
  padding: 4rem 0;
  background-color: #0a0a0a;
  color: white;
}

/* Centered and padded container */
.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.contact-container h1 {
  margin-bottom: 2rem;
}

/* Flex layout for form + info */
.contact-body {
  display: flex;
  gap: 4rem;
  flex-wrap: nowrap;
}

.form {
  flex: 0 0 60%;
}

.contactinfo {
  flex: 0 0 40%;
}

/* Form elements */
.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-row input {
  flex: 1;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  padding: 0.5rem 0;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  resize: none;
}

/* Contact info */
.contactinfo p {
  margin-bottom: 1rem;
}

.contactinfo i {
  margin-right: 0.5rem;
  color: #f4f4f4;
  text-decoration: none;
}

.contactinfo i:hover {
  color: #DD6512;
}


/* Footer Styles */


footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #e982d4; /* bright pink background */
  color: black;
  flex-wrap: wrap;
}

.footerinfo {
  display: flex;
  flex-direction: column;
  line-height: 0.8;
  gap: 1rem;
  flex: 1;
  padding: 2rem 2rem 0 2rem;
}

.footerinfo h2 {
  margin: 0;
}

.footerinfo h2:hover {
  color: #0036c9;
}

.footericons {
  color: #0d0d0d;
  display: flex;
  gap: 1rem;
}

.footericons a {
  text-decoration: none;
  color: inherit;
}

.footericons a:hover {
  color: #0036c9;
}a

.footercredit {
  margin: 0;
}

.footerimg {
  max-height: 239px;
}



/*****************************************************************************************************************************************************************************************************************************************************/
/* MOBILE STYLES */

/* About Mobile */
@media (max-width: 900px) {

  .aboutme {
    padding: 0;
  }

  .aboutme-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 20px;
  }

  .arrow-img {
    display: none;
  }

  .aboutmepic {
    width: 80%;
    max-width: 300px;
  }

  .aboutmetext {
    align-items: center;
    max-width: 100%;
  }

  .aboutmetitle {
    justify-content: center;
  }

  .aboutmebtns {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .aboutmebtns a button {
    width: 200px;
    margin: 0 auto;
  }
}


/* Services Mobil */

@media (max-width: 900px) {
  .services-container {
    flex-wrap: wrap;
    gap: 40px;
  }

  .srvc .nmbr {
    font-size: 80px;
  }

  .srvc h2 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .services-container {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .srvc .nmbr {
    font-size: 60px;
  }

  .letschat {
    margin-top: 60px;
  }

  .letschat img {
    max-height: 16px;
  }
}


/* Contact Mobile */
@media (max-width: 900px) {
  .contact-body {
    flex-direction: column;
  }

  .form,
  .contactinfo {
    flex: 0 0 100%;
  }
}

/* Footer  layout */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1.5rem;
  }

  .footerimg {
    width: 100%;
    max-height: none;
    margin-top: 2rem;
  }
}


